<p id="notice"><%= notice %></p>

<h1>Stocks you want to buy today Warren Buffet Style</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>PE</th>
      <th>Quote</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks = Stock.all %>  
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.company %></td>
        <td><%= stock.pe %></td>
        <td><%= stock.quote %></td>
        <td><%= link_to "see chart", stock.url, :target => '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>